<html lang="en"><head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" href="img/favicon.png">

    <title><%= title %></title>

    <!-- Bootstrap Core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/css/style.css" rel="stylesheet">
    <style>
      body {padding-top: 0;}
    </style>

    <!-- Custom Fonts -->
    <link href="/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="/css/myriad.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <%- include('partials/navbar') %>

    <!-- Header Carousel -->
    <header id="carousel" class="carousel slide carousel-fade">
        <!-- Indicators -->
        <!-- <ol class="carousel-indicators">
            <li data-target="#carousel" data-slide-to="0" class="active"></li>
            <li data-target="#carousel" data-slide-to="1" class=""></li>
            <li data-target="#carousel" data-slide-to="2" class=""></li>
        </ol> -->

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <div class="fill active carousel-background"></div>
                <div class="carousel-caption">
                    <h2 class="bold"><%= title %></h2>
                </div>
            </div>
        </div>
    </header>
    <div class="container tag-line">
        <div class="row">
          <div class="col-md-12 announcement">
            <h1>Tagline</h1>
            <p class="lead">Building the future</p>
          </div>
        </div>
    </div>
    <!-- Footer -->
    <%- include('partials/footer') %>
    <%- include('partials/contact') %>

    <!-- jQuery -->
    <script src='javascripts/lib/jquery.min.js'></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="javascripts/bootstrap.min.js"></script>

    <!-- Custom JavaScript -->
    <script src="javascripts/main.js"></script>
    <!-- <script src="res/js/nav.js"></script> -->




</body></html>
